<br/>
<h2>Weekly Trending Topics on Yammer</h2>
<br/> <br/>
<table class='table-bordered'>
  <tr>
    <th>Week of</th>
    <th>Keyword</th>
    <th>Top Contributors</th>
  </tr>
<% @topics.each do |topic| %>
  <tr>
    <td> <%= topic.week_start_date %> </td>
    <td> <%= topic.name %> </td>
    <td>
      <table class='table table-bordered table-striped'>
        <% topic.topic_users.each do |tu| %>
        <tr>
          <td>
            <% if tu.user %>
              <%= tu.user.name.force_encoding('ISO-8859-1').encode('UTF-8') %>
            <% else %>
              &nbsp;
            <% end %>
          </td>
          <td>
            <%= tu.message.body[0..120] %>
          </td>
        </tr>
        <% end %>
      </table>
    </td>
  </tr>
<% end %>
</table>
