<br/>
<h2>Trending Topics on Yammer</h2>
<br/> <br/>
<table class='table-bordered'>
  <tr>
    <th>Week of</th>
    <th>Topic</th>
    <th>Top Contributors</th>
  </tr>
<% @topics.each do |topic| %>
  <tr>
    <td> <%= topic.week_start_date %> </td>
    <td> <%= topic.name %> </td>
    <td>
      <table class='table-bordered'>
      <tr>
        <% topic.topic_users.each do |tu| %>
        <td>
          <%= tu.user.name %>
        </td>
        <td>
          <%= tu.message.body %>
        </td>
        <% end %>
      </tr>
      </table>
    </td>
  </tr>
<% end %>
</table>
